<div class="comment-body">
<p>
  <%= link_to comment.user.username, profile_path(comment.user.username) %>
</p>
 
<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
</p>
</div>