<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.text_area :body, :class => 'form-control', :style => 'max-width: 500px', :placeholder => 'Add comment' %>
  </p>
  <p>
    <%= f.submit 'Add comment', :class => 'btn btn-default' %>
  </p>
<% end %>